data/raw_videos/
data/labeled_frames/
data/train/
data/val/
data/annotations/
data/annotations_backup/
data/players
data/players_arena
data/labeled_frames_players_arena
data/labeled_frames_players
models/*.pt
runs/
outputs/
venv/
__pycache__/
*.pyc
.DS_Store
*.cache
yolov8n.pt
